{% extends "layout.html" %}
{% block content %}

<style>
    body{
        background-color: antiquewhite;
    }
    .blog-post-container{
        background-color: #fff;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
		font-size: 15px;
    }
    .left-column{
        padding: 10px;
    }
    .right-column {
		color: black;
        padding: 10px;
    }
    .lead{
        font-size: 15px;
        color: black;
		text-align: center;
    }
</style>

<div class="container">
	<div class="row">
		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">
			<!-- Top 'create post' bar -->
			<div class="d-lg-block mb-3">
				<div class="card m-auto d-lg-flex flex-column p-3">
					<p class="lead"> We are learning how to build a simple Flask-blog with user registration and blog CRUD functionality.
                        Flask is a micro web framework written in Python.</p>
					{% if current_user.is_authenticated %}
					<p class="m-sm-auto p-0"><a class="btn btn-outline-dark" href="{{ url_for('posts.create_post') }}">Create Post</a></p>
					{% endif %}
				</div>
                <br>
                {% if posts %}
				{% for post in posts.items %}  <!-- Since it is an paginate page -->
				<div class="blog-post-container">
					<h5><a href="{{url_for('posts.post', post_id=post.id)}}"> {{ post.title }} </a></h5>
					<p style="font-size: small;" > {{ post.content }}</p>

					<p style="font-size: small;"> by <a href="{{ url_for('users.user_posts', username=post.author.username) }}"> {{ post.author.username }} </a> <img height="20px" width="20px" class="rounded-circle" src="{{ url_for('static', filename='images/'+ post.author.image_file) }}" alt="..."> on {{ post.date_posted.strftime('%Y-%m-%d') }}</p>




				</div>
				{% endfor %}

				{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					{% if page_num %}
						{% if posts.page == page_num %}
					<a class="btn btn-dark mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }}</a>
						{% else %}
					<a class="btn btn-outline-dark mb-4" href="{{ url_for('main.home', page=page_num) }}"> {{ page_num }}</a>
					{% endif %}
					{% else %}
					...
					{% endif %}
				{% endfor %}
				{% else %}
				<div class="blog-post-container">
					<p style="font-size: small; color: #a94442; font-family: Arial"> No Results... </p>
				</div>
				{% endif %}
			</div>
			<!-- end Top 'create post' bar -->

			<!-- Blog posts-->
		</div>

		<!-- end blog feed -->

		<!-- Right 'create post' column  -->
		<div class="right-column col-sm-3 d-lg-flex d-flex flex-column">
			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="static/images/flask.jpg" width="70" height="35">
				<p class="lead"> Flask is a small and lightweight Python web framework.</p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a href="#"> Latest Posts </a></li>
					<li class="list-group-item"><a href="#"> Announcements  </a></li>
					<li class="list-group-item"><a href="#"> Calenders </a></li>
					<li class="list-group-item"><a href="#"> Features </a></li>
				</ul>
			</div>
			<br>
			<div class="card create-post-bar d-flex flex-column p-3">

				<p class="lead"> <strong> Flask Promotions </strong> </p>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><a href="#"> Latest Posts </a></li>
					<li class="list-group-item"><a href="#"> Announcements  </a></li>
					<li class="list-group-item"><a href="#"> Calenders </a></li>
					<li class="list-group-item"><a href="#"> Features </a></li>
				</ul>
			</div>
		</div>
		</div>
		<!-- end Right 'create post' column  -->

	</div>
</div>
<br>



{% endblock content %}
