{% extends "layout.html" %}
{% block content %}


<style>
    body{
        background-color: papayawhip;
    }
    .content{
        max-width: 320px;
        text-align: center;
        padding: 15px;
    }
    .form-group{
        padding: 3px;
    }
</style>


<br>
<div class="content m-auto">

    <form action="" method="POST">

<!--        hidden tag add csrf token-->
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-3 shadow"> Sign In </legend>

            <div class="form-group">
<!--                email-->
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-sm") }}
                {% endif %}

            </div>
            <div class="form-group">
<!--                password-->
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-sm") }}
                {% endif %}
            </div>

            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>

        </fieldset>

        <div class="form-group">
<!--            submit -->
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <small class="text-muted ml-2">
            <a href="#"> Forgot Password?</a>
        </small>

    </form>
    &nbsp;
    <div class="border-top pt-2">
        <small class="text-muted">
            Need Account? <a class="ml-3" href="{{ url_for ('register') }}"> Get Register </a>
        </small>
    </div>

</div>
<br>

{% endblock content %}




















